html {
	background: url(../imgs/AdobeStock_190562703.jpg) no-repeat fixed center center;
	background-size: cover;
	height: 100%;
	
	
}

* {
	box-sizing: border-box;
	
}
img {
	height: 100%;
	width: auto;
	
}
.main {
	
	max-width: 100%; 
	margin: 0 auto;
	padding: 10px;
	
}

body {
	margin-bottom: 20px;
}

.subHeader {
	background-color: rgba(243, 243, 217, 0.384) ;
	box-shadow: 10px 5px 5px rgba(90, 67, 18, 0.247), inset 2px 2px 5px rgba(255, 255, 255, 0.829) ;
	border-radius: 10px;
	
}


.continut {

	border: 1px solid rgba(243, 243, 217, 0.384); 
	background-color: rgba(243, 243, 217, 0.384);
	padding: 0;
	margin: 0;
	display: flex;
	
	


}

.pozeCatei {
	
	display: flex;
	max-width: 100%;
	align-items: center;
	margin: 0;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 10px;
	padding: 10px 0;

}

.pic1,
.pic2,
.pic3,
.pic4,
.pic5 {
	width: 150px;
	height: 100px;
	margin: 5px;
	box-shadow: 5px 5px 5px rgba(51, 38, 11, 0.479), inset 2px 2px 5px rgba(255, 255, 255, 0.829) ;
	

}
.pic1 {
	background: url(../imgs/1800x1200_dog_cool_summer_other.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.pic2 {

	background: url(../imgs/AdobeStock_190562703.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.pic3 {

	background: url(../imgs/download.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.pic4 {

	background: url(../imgs/images.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.pic5 {

	background: url(../imgs/v2-1c63ef97e720bbce2a1c3a5f5f5ecd73_720w.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.col {
	flex: 1;
	padding-left: 20px;
}
.col1 {
	flex: 1;
	padding-left: 20px;
	padding-right: 20px;
}
.header {
	
}
.navigatie {
	width: 60%;
	margin: 40px auto;
	text-align: center;
	margin-bottom: 10px;
	background: rgba(223, 164, 37, 0.616);
	box-shadow: 5px 5px 5px rgba(51, 38, 11, 0.479), inset 2px 2px 5px rgba(255, 255, 255, 0.829) ;
	border-radius: 10px;
	
	
	
	
}
.navigatie ul {
	border: 1px solid rgba(243, 204, 96, 0.616); 
	list-style: none; 
	margin: 0; 
	padding: 0; 
	display: flex;
	border-radius: 10px;
	
}

li {
	list-style-type: none;
	flex: 3;
	 
	border-radius: 10px;
}

nav li a {
	
	color: rgba(255, 255, 255, 0.829); 
	font-weight: 300; 
	letter-spacing: 2px; 
	text-decoration: none; 
	 
	padding: 10px 0px; 
	display: inline-block;
	width: 100%; 
	text-align: center; 
	border-radius: 10px;
	

	

}
@media (hover: hover) and (pointer: fine) {
a:hover { 
	background: rgba(224, 80, 80, 0.75); 
	}
}


.footer {
	max-width: 100%;
	border: 1px solid rgba(243, 243, 217, 0.384);
	border-top: none;
	height: 30px;
	display: flex;
	border-radius: 10px;

	
}
.footerY {
	margin: auto;
	
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
